<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap" rel="stylesheet">
</head>
<body>
<!-- header Section -->
<div class="main-container bg-clr space-lr mb-5 shdow">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <div class="left-side">
          <h2 class="logo-title text-white">logo Side</h2>
        </div>
      </div>
      <div class="col-sm-12 col-md-9">
        <div class="right-side d-flex align-items-center justify-content-end mt-2 mb-2">
          <button class="btn btn-frm text-white" type="button">
            <svg viewBox="0 0 512 512" class="log-out">
              <g>
                <g>
                  <path d="M255.15,468.625H63.787c-11.737,0-21.262-9.526-21.262-21.262V64.638c0-11.737,9.526-21.262,21.262-21.262H255.15
                    c11.758,0,21.262-9.504,21.262-21.262S266.908,0.85,255.15,0.85H63.787C28.619,0.85,0,29.47,0,64.638v382.724
                    c0,35.168,28.619,63.787,63.787,63.787H255.15c11.758,0,21.262-9.504,21.262-21.262
                    C276.412,478.129,266.908,468.625,255.15,468.625z"/>
                </g>
              </g>
              <g>
                <g>
                  <path d="M505.664,240.861L376.388,113.286c-8.335-8.25-21.815-8.143-30.065,0.213s-8.165,21.815,0.213,30.065l92.385,91.173
                    H191.362c-11.758,0-21.262,9.504-21.262,21.262c0,11.758,9.504,21.263,21.262,21.263h247.559l-92.385,91.173
                    c-8.377,8.25-8.441,21.709-0.213,30.065c4.167,4.21,9.653,6.336,15.139,6.336c5.401,0,10.801-2.041,14.926-6.124l129.276-127.575
                    c4.04-3.997,6.336-9.441,6.336-15.139C512,250.302,509.725,244.88,505.664,240.861z"/>
                </g>
              </g>
          </svg>Login Out</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Header Section End -->
<div class="main-container ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="user-profile p-3 bordr-clr">
          <div class="user-icon mb-4 text-center">
            <img src="image/i-user.jpg" class="m-auto clk-im">
            <!-- Option Section -->
            <div class="option-section">
            <div class="mt-3 d-flex justify-content-center">
              <div class="img-uplod position-relative">
                <input type="file" name="" class="file-upl">
              <button type="button" class="btn btn-status text-dark d-flex align-items-center">
                <svg viewBox="0 0 477.863 477.863" class="log-out upld">
                  <g>
                    <g>
                      <path d="M409.598,153.596h-85.333c-9.426,0-17.067,7.641-17.067,17.067s7.641,17.067,17.067,17.067h85.333
                        c9.426,0,17.067,7.641,17.067,17.067v221.867c0,9.426-7.641,17.067-17.067,17.067H68.265c-9.426,0-17.067-7.641-17.067-17.067
                        V204.796c0-9.426,7.641-17.067,17.067-17.067h85.333c9.426,0,17.067-7.641,17.067-17.067s-7.641-17.067-17.067-17.067H68.265
                        c-28.277,0-51.2,22.923-51.2,51.2v221.867c0,28.277,22.923,51.2,51.2,51.2h341.333c28.277,0,51.2-22.923,51.2-51.2V204.796
                        C460.798,176.519,437.875,153.596,409.598,153.596z"/>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M336.331,90.33L250.998,4.997c-6.664-6.663-17.468-6.663-24.132,0L141.532,90.33c-6.548,6.78-6.36,17.584,0.42,24.132
                        c6.614,6.388,17.099,6.388,23.713,0l56.201-56.201V341.33c0,9.426,7.641,17.067,17.067,17.067s17.067-7.641,17.067-17.067V58.262
                        l56.201,56.201c6.78,6.548,17.584,6.36,24.132-0.42C342.719,107.429,342.719,96.944,336.331,90.33z"/>
                    </g>
                  </g>
                  <g>
                  </svg>
              Update Photo</button>
            </div>
              <button type="button" class="btn btn-status text-dark">Remove Photo</button>
            </div>
            </div>
            <!-- Option Section End -->
          </div>
          <div class="form-card">
            <input type="email" name="" class="from-input" placeholder="Email">
            <input type="text" name="" class="from-input" placeholder="User Name">
          </div>
        </div>
      </div>
      </div>
  </div>

</div>


  <script src="script/jquery.min.js"></script>
  <script src="script/popper.min.js"></script>
  <script src="script/bootstrap.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $(".clk-im").click(function(){
        $(".option-section").toggleClass("option-show")
      })
    })
  </script>
</body>
</html>

