<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap" rel="stylesheet">
</head>
<body>

<div class="main-container bg-clr space-lr">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <div class="left-side">
          <h2 class="logo-title text-white">logo Side</h2>
        </div>
      </div>
      <form action="/login" method="POST">
      <div class="col-sm-12 col-md-9">
        <div class="right-side d-flex align-items-center justify-content-end mt-2 mb-2">
          <div class="group-form mr-3">
            <label for="name" class="text-white">User Name</label>
            <input type="text" id="name" name="name" class="input-fld d-block border-0">
          </div>
          <div class="group-form">
            <label for="password" class="text-white">Password</label>
            <input type="text" id="password" name="password" class="input-fld d-block border-0">
          </div>
          <input type="submit">
          <!-- <button class="btn btn-frm text-white" type="submit">Login</button> -->
          
      
        </div>
      </div>
      </form>
    </div>
  </div>
</div> 
</div>
 
  



  <script src="script/jquery.min.js"></script>
  <script src="script/popper.min.js"></script>
  <script src="script/bootstrap.min.js"></script>
</body>
</html>
