<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap" rel="stylesheet">
</head>
<body>
<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="timeline">
            <div class="events">
              <ol>
                <ul class="time-line">
                  <li class="selected">
                    <a href="#0" >order</a>
                  </li>
                  <li>
                    <a href="#1">packet</a>
                  </li>
                  <li>
                    <a href="#2">shipped</a>
                  </li>
                  <li>
                    <a href="#3">delivered</a>
                  </li>
                </ul>
              </ol>
            </div>
        </div>
       <!--  <div class="events-content">
          <ol>
            <li id="0" class="selected">
              <h2>Early Life &amp; Education</h2>
              <p>hello world</p>
            </li>
            
            <li id="1">
              <h2>Career</h2>
              <p>new york times</p>
            </li>
            
            <li id="2">
              <h2>Philosophy</h2>
              <p>here</p>
            </li>
            
            <li id="3">
              <h2>Legacy</h2>
              <p>after</p>
            </li>
          </ol>
        </div> -->
      </div>
    </div>
  </div>
</div>


  <script src="script/jquery.min.js"></script>
  <script src="script/popper.min.js"></script>
  <script src="script/bootstrap.min.js"></script>
</body>
</html>
